<form (ngSubmit)="save()"
      [formGroup]="bookForm"
      #bookFormDirective="ngForm"
      [class.ng-submitted]="bookFormDirective.submitted">
  <div class="form-group">
    <label for="author">Author:</label>
    <input id="author"
           class="form-control"
           formControlName="author">
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title"
           class="form-control"
           formControlName="title">
  </div>
  <div class="row">
    <div class="col-3">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
