<form (ngSubmit)="save()"
      [formGroup]="bookForm"
      #bookFormDirective="ngForm"
      [class.ng-submitted]="bookFormDirective.submitted">
  <div class="form-group">
    <label for="author">Author:</label>
    <ba-with-form-errors>
      <input id="author"
             class="form-control"
             formControlName="author">
    </ba-with-form-errors>
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <ba-with-form-errors>
      <input id="title"
             class="form-control"
             formControlName="title">
    </ba-with-form-errors>
  </div>
  <div class="row">
    <div class="col-3">
      <button class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
