<form (ngSubmit)="notifyOnQueryChange()"
      [formGroup]="searchForm"
      class="row">
  <div class="col-5">
    <input aria-label="query"
           class="form-control"
           formControlName="query"
           placeholder="Type your query here...">
    <ba-with-form-errors>
      <ba-number-input formControlName="age"></ba-number-input>
    </ba-with-form-errors>
    <ba-iata-code-typeahead formControlName="iataFrom"></ba-iata-code-typeahead>
    <ba-iata-code-typeahead formControlName="iataTo"></ba-iata-code-typeahead>
<!--    <input formControlName="state" [ngbTypeahead]="search">-->
  </div>
  <div class="col-2">
    <button class="btn btn-primary">Go</button>
  </div>
  <div class="col">
    <span>{{searchForm.value | json}}</span>
  </div>
</form>
